/* الحاوية الأساسية للصفحة */
.login-page {
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  background-image:url("https://images.unsplash.com/photo-1505843513577-22bb7d21e455");
  background-size:cover;
  background-position:center;                   /* فوق كل العناصر */
}
.login-page::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.55);
}
/* الفورم */
.login-form {
  position:relative;
  width:380px;
  padding:40px;
  border-radius:16px;

  backdrop-filter:blur(20px);
  background:rgba(255,255,255,0.08);

  box-shadow:0 15px 40px rgba(0,0,0,0.6);

  color:white;
  display:flex;
  flex-direction:column;
}

/* العنوان */
.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
   font-size:28px;
  letter-spacing:1px;
}

/* الليبل */
.login-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: black;
}

/* الحقول */
.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
   border-radius:8px;
  border:none;
  outline:none;
  background:rgba(255,255,255,0.9);
}

/* زر تسجيل الدخول */
.login-form button {
  width: 100%;
  padding: 12px;

  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
    border:none;
  border-radius:8px;
   background:linear-gradient(135deg,#cfa23b,#f7d774);
}

.login-form button:hover {
  /* background: #234a74; */
    transform:scale(1.04);
     background: #ecbd4e; 
}

/* الرسائل */
.login-display {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
    font-size:14px;
}

.login-display.success {
  color: green;
}

.login-display.error {
  color: red;
}

/* رابط التسجيل */
.login-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.login-link a {
  color: #ffd369;
  font-weight: 600;
}

.gallery-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
}